{ "root": true
  , "parserOptions":
      { "ecmaVersion": 8
      , "sourceType": "module"
      , "ecmaFeatures": {
        "experimentalObjectRestSpread": true
        }
      }
  , "extends": "@confuser/eslint-config"
  , "env":
    { "browser": true
    }
}
